.env
love.txt
priority.txt
loathe.txt
help.txt
singleuse.txt
credentials.json
token.pickle
*.pickle
client_secret_*.json
*.googleusercontent.com.json
*.json
*.pyc

###########

bin/
lib/
include/
__pycache__/
SMS/__pycache__/
